@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.flexContainer {
  display: flex;
  background-color: #F3F7FA;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.mainWrapper {
  display: flex;
  align-items: flex-start;
}