
.flexContainer {
  display: flex;
  background-color: #F3F7FA;
  /* background-size: cover; */
  flex-direction: column;
  align-items: center;
}

.ticketsButtonWrapper{
  display: flex;
}

.headerWrapper img {
  width: 80px;
  height: 80px;
  box-shadow: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-left: 50%; */
}

.mainWrapper {
  display: flex;
  background-color: #ffffff;
  border: solid;
  justify-content: center;
}

.ticketsWrapper {
  display: flex;
  flex-direction: column;
  border: solid;
}

.ticketsButtonWrapper {
  display: flex;
  border: solid;
}
